.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
  min-height: 70vh;
}

.hero div {
  width: calc(30% + 200px);
  text-align: center;
  font-size: 16px;
  /* padding-top: 30px; */
}
.heroText h5 {
  color: #15b1ff;
  /* font-size: clamp(10px 50rem 55px); */
  font-size: clamp(1rem, 1vw, 2rem);
}

.heroText h1 {
  color: #081b46;
  font-size: clamp(2rem, 5vw, 4rem);
}

.heroText p {
  color: #828282;
  font-size: clamp(0.5rem, 1.5vw, 2rem);
}
.hero div button {
  padding: 0.7rem 2rem;
  border-radius: 30px;
  border: none;
  background-color: #3369e7;
  color: #fff;
  margin-top: 3rem;
}
