.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.hero div {
  width: calc(30% + 200px);
  text-align: center;
  font-size: 16px;
  /* padding-top: 30px; */
}
.heroText h5 {
  color: #15b1ff;
  font-size: clamp(0.75rem, 1vw, 3rem);
}

/* .heroText h1 {
  color: #081b46;
  font-size: clamp(1rem, 3vw, 2.5rem);
} */

/* .heroText p {
  color: #828282;
  font-size: clamp(0.5rem, 1.5vw, 1rem);
} */

.hero div button {
  padding: 0.7rem 2rem;
  border-radius: 30px;
  border: none;
  background-color: #3369e7;
  color: #fff;
  margin-top: 3rem;
}
