.OurBlog {
  display: flex;
  /* padding: 0px 0px; */
  padding-top: 90px;
}
.firstDiv {
  width: 60vw;
}
.secondDiv {
  padding-left: 0px;
  /* padding: 0px 10px; */
}
/*  {
  padding-left: 0px;
  padding: 0px 10px;
} */
.secondDivHead {
  padding-left: 100px;
}
.secondDivHead h5 {
  color: #15b1ff;
  font-size: clamp(0.5rem 15vw 2rem);
}

.secondDivBox {
  display: flex;
  padding: 50px 100px;
}
.secondDivCard {
  padding: 0px 60px 20px 0px;
  color: rgb(124, 124, 124);
  font-size: 15px;
}

.secondDivCard h5 {
  color: black;
}

.cardLoge {
  padding: 4px;
  background-color: rgb(230, 230, 230);
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: fles;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 0px 16px;
  color: #15b1ff;
}
@media (max-width: 1300px) {
  .firstDiv {
    display: none;
  }
  .secondDivCard {
    padding: 0px 20px 20px 0px;
    color: rgb(124, 124, 124);
    font-size: 15px;
  }
  .secondDivHead {
    padding-left: 9%;
  }
}

@media (max-width: 1000px) {
  .secondDivBox {
    flex-direction: column;
    padding-top: 5px;
    padding-left: 10%;
    padding-right: 0;
  }
}
