.tasimonial {
  padding: 5rem;
}

.tasimonialCart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tasimonialCart_div {
  width: 500px;
  padding: 20px;
}
.eachCard p {
  font-size: clamp(1rem 2.5vw 2rem);
  display: flex;
  flex-wrap: wrap;
}
.testHead {
  text-align: center;
  /* padding: 1rem; */
  color: #15b1ff;
  font-size: 0.75rem;
}
.testHead h1 {
  font-size: 2rem;
  /* padding: 2rem; */
  color: black;
}
@media (max-width: 630px) {
  .tasimonial {
    padding: 1rem;
  }
  .tasimonialCart_div {
    width: 250px;
    padding: 10px;
  }
}
