.dualDiv {
  display: flex;
  /* padding: 100px 110px; */
  /* border: 2px solid green; */
}
.dualDiv p {
  color: #7b7b7b;
}
.dualDiv h5 {
  color: #15b1ff;
}
.leftRightDiv {
  width: 50%;
  /* width: calc(50%+10%); */
}
.leftDiv {
  /* padding: 0px 100px 0px 30px; */
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 10%;
  padding-right: 10%;
}
.leftDivHead h5 {
  font-size: clamp(1.5px 2vw 4px);
}
.leftDivHead h1 {
  font-size: clamp(1.5px 2vw 4px);
}

.leftDivManu {
  display: flex;
  justify-content: space-between;
}

.leftManuOption {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.optonIcon {
  padding: 10px 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-right: 10px;
  box-shadow: 0px 0px 6px grey;
}
/* .rightDiv {
  position: relative;
  height: 300px;
  width: auto;
  margin: 50px;
  border: 2px solid red;
} */
.rightDiv {
  padding-top: 50px;
  padding-right: 30px;
}

@media (max-width: 1200px) {
  .dualDiv {
    /* display: inline; */
    display: flex;
    flex-direction: column-reverse;
  }
  .leftRightDiv {
    width: 100%;
  }
  .rightDiv {
    padding: 0px 100px;
  }
}
@media (max-width: 600px) {
  .leftDivManu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
