.border {
  display: flex;
  justify-content: center;
  /* border: 2px solid green; */
  padding: 0% 0%;
  /* position: relative; */
  position: sticky;
  top: 0%;
  z-index: 9999;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #4a69ea;
  width: 1500px;
  background-color: #dadada;
  max-width: 1500px;
  padding: 0% 50px;
  animation: navStyle 400ms;
}
.navOption ul {
  display: inline-flex;
  list-style: none;
}

.navOption ul li {
  padding: 0px 5px;
  font-weight: 50px;
  font-size: 1rem;
}

/* side bar */
.sideBar {
  display: none;
}

@media (max-width: 753px) {
  .navOption {
    display: none;
  }
  .sideBar {
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
  }
  .sideBar div ul li {
    list-style: none;
  }
}

@keyframes navStyle {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
