.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 50px;
  color: #4a69ea;
}
.navOption ul {
  display: inline-flex;
  list-style: none;
}

.navOption ul li {
  padding: 0px 5px;
  font-weight: 50px;
  font-size: 1rem;
}

/* side bar */
.sideBar {
  display: none;
}

@media (max-width: 753px) {
  .navOption {
    display: none;
  }
  .sideBar {
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
  }
  .sideBar div ul li {
    list-style: none;
  }
}
